body {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

h1 {
  color: #2a80c9;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #df6ca0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

small {
  position: relative;
  top: 10px;
  color: #190562;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  background: linear-gradient(
    109.6deg,
    rgb(185, 212, 242) 11.2%,
    rgb(244, 210, 226) 100.3%
  );
}

.weather-app {
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #df6ca0;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #190562;
}

.weather-temperature .active {
  color: #df6ca0;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
  color: #df6ca0;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  color: #df6ca0;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #190562;
}
