body {
  font-family: "Roboto", sans-serif;
  color: azure;
}

a {
  color: #344f73;
  font-weight: 700;
}

.weather-app {
  background-image: url("/images/frontt.jpg");

  background-position: center;
  background-repeat: no-repeat;
  width: 800px;
  max-width: 100%;
  margin: 60px auto;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
header {
  padding-top: 10px;
  padding-left: 25px;
  display: block;
  max-width: 100%;
}
.input-data {
  background-color: rgb(244, 247, 249);
  border: none;
  color: #344f73;
  font-size: 18px;
  padding: 15px;
  width: 600px;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 18px;
  background-color: #344f73;
  color: white;
  border: none;
  padding: 20px;
  line-height: 15px;
  border-radius: 6px;
}

main {
  padding-top: 10px;
  padding-left: 20px;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #344f73;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: #ffffff;
}
